## ipywidgets-Univariate

In [5]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

import ipywidgets as widgets
from ipywidgets import interact
from ipywidgets import interact_manual

In [2]:
data = px.data.gapminder()
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [6]:
dt = px.data.tips()
dt.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 01-Line, Area

In [3]:
@interact_manual
def viz(x = list(data.select_dtypes('number').columns)):
    sns.distplot(data[x],)

interactive(children=(Dropdown(description='x', options=('year', 'lifeExp', 'pop', 'gdpPercap', 'iso_num'), va…

## 02-Scatter, strip

## 03-Bar Histograms

In [4]:
@interact_manual
def viz(x = list(data.select_dtypes('object').columns[1:])):
    sns.countplot(data[x])

interactive(children=(Dropdown(description='x', options=('continent', 'iso_alpha'), value='continent'), Button…

In [7]:
@interact_manual
def viz(x = list(dt.select_dtypes('object').columns),
        y = list(dt.select_dtypes('number').columns),
        hue = list(dt.select_dtypes('object').columns[1:])):
    sns.barplot(dt[x], dt[y], hue = dt[hue])

interactive(children=(Dropdown(description='x', options=('sex', 'smoker', 'day', 'time'), value='sex'), Dropdo…

In [8]:
@interact_manual
def viz(x = list(data.select_dtypes('object').columns),
        y = list(data.select_dtypes('number').columns),
        hue = list(data.select_dtypes('object').columns[1:]),
        palette = ['copper','magma','reds']):
    sns.barplot(data[x], data[y], hue = data[hue], palette = palette)

interactive(children=(Dropdown(description='x', options=('country', 'continent', 'iso_alpha'), value='country'…

## 04-Box Plots, violin