## import collections

In [1]:
import collections
player = collections.namedtuple("player", ["name", "age", "country"])

# objects of newtuple
p1 = player("Fred", 28, "Brazil")
p2 = player("Marcelo", 31, "Brazil")

# print(p1.age)
print(p2.name, p2.age)

Marcelo 31

In [2]:
# Example to remember the order of the keys
import collections

firstD = collections.OrderedDict()
firstD["X:"] = 70
firstD["Y:"] = 75
firstD["E:"] = 77
firstD["M:"] = 79

for k,v in firstD.items():
    print(k,v)

X: 70
Y: 75
E: 77
M: 79

## deque-ImplementingStack

In [3]:
from collections import deque
numbers=deque()

In [4]:
#Adding items
#Push
numbers.append(23)
numbers.append(45)
numbers.append(12)
numbers.append(54)
numbers

deque([23, 45, 12, 54])

In [5]:
#Removing items
#Pop
numbers.pop()

54

In [6]:
numbers.pop()

12

In [7]:
from collections import deque
names=deque()

In [8]:
#Adding items
#Enqueue
names.append("Radhika")
names.append("Shyam")
names.append('Ravi')
names.append("Shivani")
print(names)

deque(['Radhika', 'Shyam', 'Ravi', 'Shivani'])

In [9]:
#Removing items
#dequeue
names.popleft()

'Radhika'

## Counter

In [12]:
import pandas as pd
from collections import Counter
df = pd.read_csv("input/iris.csv")
df.head(2)

   Sepal Length  Sepal Width  Petal Length  Petal Width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [13]:
count_class = Counter(df["class"])
count_class

Counter({'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50})

In [14]:
df2 = pd.DataFrame.from_dict(count_class,orient='index',columns=["Count"])
df2

                 Count
Iris-setosa         50
Iris-versicolor     50
Iris-virginica      50

In [15]:
df2 = pd.DataFrame({"class":count_class.keys(),
                    "count": count_class.values()})
df2

             class  count
0      Iris-setosa     50
1  Iris-versicolor     50
2   Iris-virginica     50

In [16]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
Counter(A)

Counter({'Alice': 1, 'Bob': 3, 'Carol': 1})

In [17]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
count_A = Counter(A)
print("Bob:", count_A["Bob"])
print("Amy:", count_A["Amy"])

Bob: 3
Amy: 0

In [18]:
B = "Aaaaaa~"
Counter(B)

Counter({'A': 1, 'a': 5, '~': 1})

In [19]:
from collections import Counter
print("Welcome to the Frequency Analysis App")
non_letters = ['1','2','3','4','5','6','7','8','9','0',' ', '.','?','!',
               ',','"',"'",':',';','(',')','%','$','&','#','\n','\t'] 

#Information for the first key key_phrase_1
key_phrase_1 = input("Enter a word or phrase to count the occurrence of each letter: ").lower().strip()
for non_letter in non_letters:
    key_phrase_1 = key_phrase_1.replace(non_letter, '')
total_occurrences = len(key_phrase_1)

#Create a counter object to tally the number of each letter
letter_count = Counter(key_phrase_1)
print("\nHere is the frequency analysis from key phrase 1: ")
print("\n\tLetter\t\tOccurrence\tPercentage")
for key, value in sorted(letter_count.items()):
    percentage = 100*value/total_occurrences
    percentage = round(percentage, 2)
    print("\t" + key + "\t\t" + str(value) + "\t\t" + str(percentage) + "%")

#Make a list of letters from highest occurrence to lowest
ordered_letter_count = letter_count.most_common()
key_phrase_1_ordered_letters = []
for pair in ordered_letter_count:
    key_phrase_1_ordered_letters.append(pair[0])

#Print the list
print("\nLetters ordered from highest occurrence to lowest: ")
for letter in key_phrase_1_ordered_letters:
    print(letter, end='')

    
    
#Information for the second key key_phrase_2
key_phrase_2 = input("\n\nEnter a word or phrase to count the occurrence of each letter: ").lower().strip()
for non_letter in non_letters:
    key_phrase_2 = key_phrase_2.replace(non_letter, '')
    total_occurrences = len(key_phrase_2)
    
#Create a counter object to tally the number of each letter
letter_count = Counter(key_phrase_2)
print("\nHere is the frequency analysis from key phrase 2: ")
print("\n\tLetter\t\tOccurrence\tPercentage")
for key, value in sorted(letter_count.items()):
    percentage = 100*value/total_occurrences
    percentage = round(percentage, 2)
    print("\t" + key + "\t\t" + str(value) + "\t\t" + str(percentage) + "%")


#Make a list of letters from highest occurrence to lowest
ordered_letter_count = letter_count.most_common()
key_phrase_2_ordered_letters = []
for pair in ordered_letter_count:
    key_phrase_2_ordered_letters.append(pair[0])

#Print the list
print("\nLetters ordered from highest occurrence to lowest: ")
for letter in key_phrase_2_ordered_letters:
    print(letter, end='')

Welcome to the Frequency Analysis App
Enter a word or phrase to count the occurrence of each letter:

Here is the frequency analysis from key phrase 1:

	Letter		Occurrence	Percentage

Letters ordered from highest occurrence to lowest:


Enter a word or phrase to count the occurrence of each letter:

Here is the frequency analysis from key phrase 2:

	Letter		Occurrence	Percentage

Letters ordered from highest occurrence to lowest: