## First

In [1]:
from collections import deque
numbers=deque()

In [2]:
#Adding items
#Push
numbers.append(23)
numbers.append(45)
numbers.append(12)
numbers.append(54)
numbers

deque([23, 45, 12, 54])

In [3]:
#Removing items
#Pop
numbers.pop()

54

In [4]:
numbers.pop()

12

## Second

In [5]:
from collections import deque
names=deque()

In [6]:
#Adding items
#Enqueue
names.append("Radhika")
names.append("Shyam")
names.append('Ravi')
names.append("Shivani")
print(names)

deque(['Radhika', 'Shyam', 'Ravi', 'Shivani'])

In [7]:
#Removing items
#dequeue
names.popleft()

'Radhika'