# MySQL資料庫控制
參考文件 https://www.runoob.com/python3/python-mysql-connector.html

## 安裝程式
pip install mysql-connector-python

In [ ]:
#pip install mysql-connector-python

In [ ]:
import mysql.connector

conn = mysql.connector.connect(user='root', 
                              password='###
                              host='localhost',
                              port='3306',
                              )

cursor = conn.cursor()
cursor

測試用的命令
INSERT INTO python.orders (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')

In [ ]:
# 執行SQL命令
cursor.execute("INSERT INTO python.orders (id, sales_id, sale_date, price) VALUES ('33', '3', '2020/03/09', '21.7')")

In [ ]:
# 必須執行這行指令資料庫才會進行更新
conn.commit()

In [ ]:
# 當SQL指令錯誤時會產生ERROR
cursor.execute("INSERT INTO orders22 (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')")

## 查詢資料

In [ ]:
# 取得查詢的資料
cursor.execute('select * from python.sales')
for id, name, city in cursor:
    print(id, name, city)

In [ ]:
# 使用 fetchall 將資料一次全部抓到 Python 中再處理
cursor.execute('select * from python.sales')
records = cursor.fetchall()
print("資料筆數：", cursor.rowcount)

for id, name, city in records:
    print(id, name, city)

In [ ]:
records

In [ ]:
# 關閉資料庫連線
conn.close()

## 練習題

In [ ]:
# 請參考 Irir.csv 建立一個資料表，然後將資料轉換進資料庫中

In [ ]:
# 請透過先前建立的Iris的資料表計算出四個主要欄位的平均值
# SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm

In [ ]:
# 請透過先前建立的Iris的資料表列出Species這個欄位中的有哪些不重複的值

參考資料 
https://www.w3schools.com/sql/default.asp

測試用資料
https://github.com/jpwhite3/northwind-SQLite3

## Select

SELECT column1, column2, ...
FROM table_name;

In [1]:
select * from orders

SyntaxError: invalid syntax (<ipython-input-1-5cabd0f3a646>, line 1)

In [ ]:
select * from orders where sales_id = 1

In [ ]:
select * from orders where price > 20

In [ ]:
select * from orders where sales_id = 1 and price > 20

In [ ]:
select * from orders where sales_id = 1 and price > 20 order by sale_date

In [ ]:
select * from orders where sales_id = 1 and price > 20 order by sale_date and price

In [ ]:
select * from orders where sales_id = 1 and price > 20 order by sale_date DESC

In [ ]:
select DISTINCT sale_date from orders

In [ ]:
select DISTINCT sales_id, sale_date from orders

In [ ]:
select DISTINCT sales_id, sale_date from orders order by sale_date

## Join

SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;

In [ ]:
# 先看看訂單這個資料表有什麼
select * from orders

In [ ]:
# 結合兩個資料表一起看
select * from orders join sales on sales_id = sales.id

In [ ]:
# 另一種結合資料表的寫法
select * from orders ,sales where sales_id = sales.id

## Create Table

CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

In [ ]:
CREATE TABLE "sales" (
	"id"	INTEGER,
	"name"	TEXT,
	"city"	TEXT
);

In [ ]:
CREATE TABLE "orders" (
	"id"	INTEGER,
	"sales_id"	INTEGER,
	"sale_date"	TEXT,
	"price"	REAL
);

In [ ]:
CREATE INDEX "order_sales_id" ON "orders" (
	"sales_id"
)

In [ ]:
CREATE INDEX "sales_id" ON "sales" (
	"id"
)

## Insert

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

In [ ]:
INSERT INTO "orders" ("id", "sales_id", "sale_date", "price") VALUES ('23', '3', '2020/03/09', '21.7');

## Update

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

In [ ]:
UPDATE orders SET price = 31.1 where id = 23

In [ ]:
UPDATE orders SET price = 41.1, sales_id = 2 where id = 23

## Delete

DELETE FROM table_name WHERE condition;

In [ ]:
delete from orders where id = 23