https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html
https://www.geeksforgeeks.org/python-pandas-datetimeindex-date/#:~:text=date%20attribute%20outputs%20an%20Index,entries%20of%20the%20DatetimeIndex%20object.&text=Example%20%231%3A%20Use%20DatetimeIndex.,part%20of%20the%20DatetimeIndex%20object.

In [1]:
import pandas as pd
dt = pd.DatetimeIndex(['2019-09-10 06:30','2019-10-01 10:20','2019-10-02 10:40'])
dt

DatetimeIndex(['2019-09-10 06:30:00', '2019-10-01 10:20:00',
               '2019-10-02 10:40:00'],
              dtype='datetime64[ns]', freq=None)

In [2]:
d = pd.date_range(start = '2020-10-20', freq='W', periods=6)
a = pd.date_range(start = '2020-10-20', freq='Y', periods=6)
d

DatetimeIndex(['2020-10-25', '2020-11-01', '2020-11-08', '2020-11-15',
               '2020-11-22', '2020-11-29'],
              dtype='datetime64[ns]', freq='W-SUN')

## Timedelta

In [3]:
td = pd.TimedeltaIndex(['2 days', '-1 days', '3 days 5 hours'])
td

TimedeltaIndex(['2 days 00:00:00', '-1 days +00:00:00', '3 days 05:00:00'], dtype='timedelta64[ns]', freq=None)

In [4]:
td.days

Int64Index([2, -1, 3], dtype='int64')

In [5]:
td.seconds

Int64Index([0, 0, 18000], dtype='int64')

In [6]:
pd.Timedelta('2 days')
pd.Timedelta('-4 days')

Timedelta('-4 days +00:00:00')

In [7]:
pd.Timedelta(3, unit ='h')

Timedelta('0 days 03:00:00')

In [8]:
pd.Timedelta(days = 2, minutes = 40)
pd.Timedelta(days = 1, minutes = 50) + pd.Timedelta(hours = 3, minutes = 20)

Timedelta('1 days 04:10:00')

In [9]:
td = pd.Timedelta(days = 4, minutes=30, seconds=6,  milliseconds=10, microseconds=10, nanoseconds=12)
td

Timedelta('4 days 00:30:06.010010012')

In [10]:
td.components

Components(days=4, hours=0, minutes=30, seconds=6, milliseconds=10, microseconds=10, nanoseconds=12)

In [11]:
td.value

347406010010012

In [12]:
td.view

In [13]:
td.total_seconds()

347406.01001

In [14]:
pd.datetime.now()-pd.Timedelta(days=4)

<ipython-input-14-206f258ec8c0>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now()-pd.Timedelta(days=4)

datetime.datetime(2021, 12, 6, 17, 42, 28, 138154)

## Timedelta.Index

In [15]:
# Create the TimedeltaIndex object
tidx = pd.TimedeltaIndex(data =['1 days 02:00:00', 
                                '1 days 06:05:01.000030'])
tidx

TimedeltaIndex(['1 days 02:00:00', '1 days 06:05:01.000030'], dtype='timedelta64[ns]', freq=None)

In [16]:
tidx.days

Int64Index([1, 1], dtype='int64')

In [17]:
# creating PeriodIndex
webinar_date = pd.period_range('2021-06-07', periods= 6, freq = 'M')
course = ['ANN', 'CNN', 'Python','SQL', 'NLP', 'ML']
df = pd.DataFrame(course, index = webinar_date, columns = ['Course'])
df

         Course
2021-06     ANN
2021-07     CNN
2021-08  Python
2021-09     SQL
2021-10     NLP
2021-11      ML

In [18]:
# creating period index representing all monthly boundaries in 2012
pi_2012 = pd.period_range('1/1/2012', periods = 12, freq = 'M')
pi_2012

PeriodIndex(['2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
             '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12'],
            dtype='period[M]', freq='M')

In [19]:
import pandas as pd
sr = pd.Series(['2012-10-21 09:30', '2019-7-18 12:30', '2008-02-2 10:30',
               '2010-4-22 09:25', '2019-11-8 02:22'])
# Convert the underlying data to datetime 
s = pd.to_datetime(sr)
s

0   2012-10-21 09:30:00
1   2019-07-18 12:30:00
2   2008-02-02 10:30:00
3   2010-04-22 09:25:00
4   2019-11-08 02:22:00
dtype: datetime64[ns]

In [20]:
s.dt.date
s.dt.year
s.dt.day
s.dt.month
s.dt.weekofyear
s.dt.quarter

<ipython-input-20-9ae815934478>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  s.dt.weekofyear

0    4
1    3
2    1
3    2
4    4
dtype: int64

In [21]:
import pandas as pd
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [22]:
# changing to date time
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [23]:
print(pd.to_datetime('13000101', format='%Y%m%d', errors='ignore'))

1300-01-01 00:00:00

## Period

In [24]:
# creating a period of time
p = pd.Period('2020-9-4')
p

Period('2020-09-04', 'D')

In [25]:
p1 = pd.Period('2020-9-4', freq = 'M')
p1

Period('2020-09', 'M')

In [26]:
period_sample = pd.period_range(start = '3/5/2020', end = '13/5/2021', freq = 'M')
period_sample

PeriodIndex(['2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08',
             '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02',
             '2021-03', '2021-04', '2021-05'],
            dtype='period[M]', freq='M')

## datetime
NumPy cannot natively represent timezone-aware datetimes. pandas supports this with the arrays.DatetimeArray extension array, which can hold timezone-naive or timezone-aware values.

Timestamp, a subclass of ``datetime.datetime``, is pandas’ scalar type for timezone-naive or timezone-aware datetime data.

In [27]:
arr = pd.Timestamp('2020-9-12', tz = 'Europe/Berlin')
arr

Timestamp('2020-09-12 00:00:00+0200', tz='Europe/Berlin')

In [28]:
arr_timestamp = pd.Timestamp('2010-8-22')
arr_timestamp

Timestamp('2010-08-22 00:00:00')

In [29]:
arr_timestamp = arr_timestamp.tz_localize('US/Central')
arr_timestamp

Timestamp('2010-08-22 00:00:00-0500', tz='US/Central')

In [30]:
arr.day

12

In [31]:
# returns day of year
arr.dayofyear

256

In [32]:
# returns day of week
arr.dayofweek

5

## Handling Time Series Data

In [33]:
# creating Time Series data
time_series = pd.date_range('4/1/2021',periods = 20)
df = pd.DataFrame({'date':time_series})
df.head()

        date
0 2021-04-01
1 2021-04-02
2 2021-04-03
3 2021-04-04
4 2021-04-05

In [34]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['week'] = df['date'].dt.week
df.head()

<ipython-input-34-4031a0ac0f6c>:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['date'].dt.week

        date  year  month  week
0 2021-04-01  2021      4    13
1 2021-04-02  2021      4    13
2 2021-04-03  2021      4    13
3 2021-04-04  2021      4    13
4 2021-04-05  2021      4    14

In [35]:
df['date'].dt.isocalendar().week
df['date'].dt.dayofweek

0     3
1     4
2     5
3     6
4     0
5     1
6     2
7     3
8     4
9     5
10    6
11    0
12    1
13    2
14    3
15    4
16    5
17    6
18    0
19    1
Name: date, dtype: int64

## Pandas-Offsets 
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [36]:
import pandas as pd
rng = pd.date_range("2012-01-01", "2012-01-04")
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04'], dtype='datetime64[ns]', freq='D')

In [37]:
rng + pd.DateOffset(months=2)

DatetimeIndex(['2012-03-01', '2012-03-02', '2012-03-03', '2012-03-04'], dtype='datetime64[ns]', freq=None)

In [38]:
rng - pd.DateOffset(months=2)

DatetimeIndex(['2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04'], dtype='datetime64[ns]', freq=None)

In [39]:
rng - pd.offsets.Day(2)

DatetimeIndex(['2011-12-30', '2011-12-31', '2012-01-01', '2012-01-02'], dtype='datetime64[ns]', freq='D')