## astype
```astype()``` function is used to cast a pandas object to a specified type.

In [2]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.dtypes

col1    int64
col2    int64
dtype: object

In [3]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [4]:
df['col1'].astype('int32').dtypes

dtype('int32')

## Handling Categorical Data

In [5]:
# changing the data type of dataframes
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.dtypes

col1    int64
col2    int64
dtype: object

## SparseArray

In [7]:
import pandas as pd
import numpy as np
pd.arrays.SparseArray([3,5,3,4, np.NaN, 5, np.NaN])

[3.0, 5.0, 3.0, 4.0, nan, 5.0, nan]
Fill: nan
IntIndex
Indices: array([0, 1, 2, 3, 5])

In [8]:
a = pd.arrays.SparseArray([0,0,0,1,1,1])
a.transpose

<bound method SparseArray.transpose of [0, 0, 0, 1, 1, 1]
Fill: 0
IntIndex
Indices: array([3, 4, 5])
>

## Evaluating Complex Equations using pandas

In [9]:
# creating dataframe
df = pd.DataFrame([[2,3], [5,1],[4,5]], columns = ['A','B'])
df

   A  B
0  2  3
1  5  1
2  4  5

In [10]:
eq = 'A + 3 / B'
df.eval(eq)

0    3.0
1    8.0
2    4.6
dtype: float64

In [11]:
# evaluating complex equations
eqn = "A + B + sqrt(B+4)"
df.eval(eqn)

0     7.645751
1     8.236068
2    12.000000
dtype: float64

In [12]:
# evaluating complex equations without using eval()
new_col = df.B + 4
result = df.A + df.B + new_col.apply(np.sqrt)
result

0     7.645751
1     8.236068
2    12.000000
dtype: float64

## Dealing with Intervals using Pandas

In [13]:
# creating intervals
iv = pd.Interval(left = 0, right = 5)
iv

Interval(0, 5, closed='right')

In [15]:
# To create a time interval you can use Timestamps as the bounds
year_2017 = pd.Interval(pd.Timestamp('2017-01-01 00:00:00'),
                        pd.Timestamp('2018-01-01 00:00:00'),
                        closed='left')
year_2017

Interval('2017-01-01', '2018-01-01', closed='left')