In [ ]:
# Qsearch.xlsx

In [3]:
import pandas as pd 
df = pd.read_excel("Qsearch.xlsx") # read to DataFrame
df

,term,ratio,selected_posts,page_ids,angry_score,total_reaction,time
0,永齡,0.998770,"[object Object],[object Object],[object Object...","573474646459145,109249609124014,10924960912401...",4,66647,Invalid date
1,一黨,0.996778,"[object Object],[object Object],[object Object]","46251501064,235679595900,335636328832",600,91260,Invalid date
2,死活,0.996084,"[object Object],[object Object]","164872546882726,435245396499682",6136,33450,Invalid date
3,糾正,0.995517,"[object Object],[object Object],[object Object...","45289011269,569291869790551,168362567115285,15...",698,81857,Invalid date
4,富發,0.995321,"[object Object],[object Object],[object Object...","121066407930594,241581819928691,12106640793059...",84,15601,Invalid date
...,...,...,...,...,...,...,...
73,觀止,0.918208,"[object Object],[object Object],[object Object...","138784199805261,854423191314293,43035195376058...",1,16163,Invalid date
74,更快,0.917868,"[object Object],[object Object],[object Object...","573474646459145,717305251763769,12461633090680...",220,69656,Invalid date
75,#台積電,0.917581,"[object Object],[object Object],[object Object...","573474646459145,436202956432960,128269288214,4...",-10,63966,Invalid date
76,翻白眼,0.916764,"[object Object],[object Object],[object Object...","520835927950681,1267280453362248,6207479946523...",1,22226,Invalid date
77,側身,0.909573,"[object Object],[object Object],[object Object...","916825445027024,220050085932,835161296601203,1...",22,17716,Invalid date

In [10]:
# col, row
df.iloc[0,0]

'永齡'

In [14]:
# col, row
df.iloc[1,0] 
df.loc[1,"term"]  #Same

'一黨'

In [16]:
# Caculate
sum(df["ratio"])/len(df)

0.9591802368965995

In [ ]:
df["New col"] = df["term"] / (df["身高"]/100)**2 # 計算BMI

## Open

In [25]:
import pandas as pd
df = pd.read_csv("iris.csv")
print(df)

     Sepal Length  Sepal Width  Petal Length  Petal Width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
def foo(row):
    print("The class is %s" % row["class"])

The class is Iris-virginica

In [27]:
for index,row in df.iterrows():
    foo(row)

The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-setosa
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-versicolor
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica
The class is Iris-virginica