In [1]:
A = [1,2,3,4,5]
list(map(lambda x: x**2, A))

[1, 4, 9, 16, 25]

In [2]:
B = ["Apple", "Book"]
list(map(lambda x: x.lower(), B))

['apple', 'book']

In [3]:
import pandas as pd
df = pd.DataFrame({"Name": ["Alice", "Bob", "Bob", "Bob", "Carol"],
                   "Score": [100, 95, 97, 97, 95]})
df["Score"].map(lambda x: "Perfect" if x == 100 else "Good")

0    Perfect
1       Good
2       Good
3       Good
4       Good
Name: Score, dtype: object

## Counter

In [5]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
Counter(A)

Counter({'Alice': 1, 'Bob': 3, 'Carol': 1})

In [6]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
count_A = Counter(A)
print("Bob:", count_A["Bob"])
print("Amy:", count_A["Amy"])

Bob: 3
Amy: 0

In [7]:
B = "Aaaaaa~"
Counter(B)

Counter({'A': 1, 'a': 5, '~': 1})

In [9]:
import pandas as pd
df = pd.read_csv("iris.csv")
df

     Sepal Length  Sepal Width  Petal Length  Petal Width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
count_class = Counter(df["class"])
count_class

Counter({'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50})

In [11]:
df2 = pd.DataFrame.from_dict(count_class,orient='index',columns=["Count"])
df2

                 Count
Iris-setosa         50
Iris-versicolor     50
Iris-virginica      50

In [12]:
df2 = pd.DataFrame({"class":count_class.keys(),
                    "count": count_class.values()})
df2

             class  count
0      Iris-setosa     50
1  Iris-versicolor     50
2   Iris-virginica     50