## Lambda

In [8]:
#Lambda

def xyz(a,b,c):
    return a*a+2*b/c

print(xyz(3,4,8))

10.0

In [9]:
xyz = lambda a,b,c : a*a+2*b/c
print(xyz(3,4,8))

10.0

In [1]:
z = lambda a : a + 2
print(z(2))

4

In [2]:
y = lambda a,b : a * b
print(y(2,3))

6

In [3]:
x = lambda a,b,c : a-b-c
print(x(5,2,2))

1

In [4]:
n = lambda a,b : a % b
print(n(5,2))

1

In [9]:
x= lambda a: a*a
print(x(5))

25

In [10]:
y= lambda a,b: a+b
y(10,30)

40

## Map

In [12]:
l1 = [5,6,7]
l2 = [6,10,2]

xyz = lambda n,m : n*m

l3 = map(xyz,l1,l2)
print(list(l3))

[30, 60, 14]

In [1]:
my_list = [1,5,4,6,8,11,3,12]
new_list = list(map(lambda x:x *2, my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [5]:
total_score=[365,450,290,398,270,430]
def percent(li):
    ans=(li*100)/500
    return ans

In [6]:
mapped_list=map(percent,total_score)
print(list(mapped_list))

[73.0, 90.0, 58.0, 79.6, 54.0, 86.0]

## Filter

In [7]:
#Filter Functions


l = [4,7,8,5,3,4,1,2]

def xyz(n):
    if n%2 == 0:
        return True
    else:
        return False
result = filter(xyz,l)
print(list(result))

[4, 8, 4, 2]

In [2]:
my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x:(x%2==0), my_list))
print(new_list)

[4, 6, 8, 12]

In [3]:
score =[76,23,54,12,65,43]
def score_check(s):
    if s>50:
        return True
    else:
        return False

In [4]:
students_passed=filter(score_check, score)
for i in students_passed:
    print(i)

76
54
65

## Zip

In [7]:
student_names = ['Rohan', 'Amita', 'Shushant', 'Pawan', 'Kiran']
student_marks = [67,34,78,85,65]
zipped_list = zip(student_names, student_marks)
zipped_list = list(zipped_list)
zipped_list

[('Rohan', 67), ('Amita', 34), ('Shushant', 78), ('Pawan', 85), ('Kiran', 65)]

In [8]:
student_names, student_marks = zip( *zipped_list)
print('names = ',list(student_names))
print('marks = ',list(student_marks))

names =  ['Rohan', 'Amita', 'Shushant', 'Pawan', 'Kiran']
marks =  [67, 34, 78, 85, 65]