# Filtering with the `query` Method

The previous chapters on boolean selection showed us how to filter our DataFrames and Series based on their values. We created conditions, usually involving the comparison operators, resulting in boolean Series and passed them to the *just the brackets* or `loc` indexers to filter the data.

In this chapter we cover the `query` method, which enables us to also make selections based on the values of the DataFrame or Series. The `query` method is easier and more intuitive to use than boolean selection, but doesn't provide as much functionality to filter the data. Still, it is a good method to know about to make your subset selections more readable.

## The `query` method

The `query` method allows you to filter the data by writing the condition as a string. For instance, you would use the string `'tripduration > 1000'` to select all rows of the `bikes` dataset that have a `tripduration` greater than 1,000. Let's read in the bikes dataset and run this command now.

In [1]:
import pandas as pd
bikes = pd.read_csv('input/bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.query('tripduration > 1000').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15,Dearborn St & Monroe St,23,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31,Wood St & Division St,15,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15,Damen Ave & Pierce Ave,19,79.0,9.2,mostlycloudy

### Less syntax and more readable

The `query` method generally uses less syntax than boolean selection and is usually more readable. Reproducing the last result with boolean selection would look like this:

```python
bikes[bikes['tripduration'] > 1000]
```

This looks a bit clumsy with the name `bikes` written twice right next to one another. The `query` method has its own set of rules for what constitutes a correctly written condition within the string you pass it. The rest of this chapter covers all of the available functionality of the `query` method. This syntax only works within the `query` method and is not allowed anywhere else in pandas.

## Use strings `and`, `or`, `not`

Unlike boolean selection, you can use the strings `and`, `or`, and `not` instead of the operators `&`, `|`, and `~` which further aides readability with `query`. Let's select all rides with `tripduration` greater than 1,000 and `temperature` greater than 85.

In [2]:
bikes.query('tripduration > 1000 and temperature > 85').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19,Lake Shore Dr & Monroe St,11,87.1,8.1,partlycloudy
53,Male,2013-07-16 13:04:00,2013-07-16 13:28:00,1435,Canal St & Jackson Blvd,35,Canal St & Jackson Blvd,35,90.0,8.1,mostlycloudy
60,Male,2013-07-17 10:23:00,2013-07-17 10:40:00,1024,Clinton St & Washington Blvd,31,Larrabee St & Menomonee St,15,88.0,5.8,partlycloudy

## Chained comparisons

Let's say we want to find all rides where the temperature was between 50 and 60 degrees. You can do this with `query` by using the `and` operator.

In [3]:
bikes.query('temperature >= 50 and temperature <= 60').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
590,Female,2013-09-13 07:55:00,2013-09-13 08:01:00,319,Greenview Ave & Fullerton Ave,15,Sheffield Ave & Fullerton Ave,15,54.0,15.0,partlycloudy
591,Male,2013-09-13 08:04:00,2013-09-13 08:16:00,738,Lincoln Ave & Armitage Ave,19,Larrabee St & Kingsbury St,27,57.9,13.8,partlycloudy
592,Female,2013-09-13 08:04:00,2013-09-13 08:14:00,599,Orleans St & Elm St,15,Sheffield Ave & Kingsbury St,15,57.9,13.8,partlycloudy

While this syntax is valid, there is a more compact way. You can use a **chained comparison** to make the string even more readable and concise. A chained comparison places the column name between two comparison operators. The following implies that 50 is less than or equal to the temperature and the temperature is less than or equal to 60 which is equivalent to our previous selection.

In [4]:
bikes.query('50 <= temperature <= 60').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
590,Female,2013-09-13 07:55:00,2013-09-13 08:01:00,319,Greenview Ave & Fullerton Ave,15,Sheffield Ave & Fullerton Ave,15,54.0,15.0,partlycloudy
591,Male,2013-09-13 08:04:00,2013-09-13 08:16:00,738,Lincoln Ave & Armitage Ave,19,Larrabee St & Kingsbury St,27,57.9,13.8,partlycloudy
592,Female,2013-09-13 08:04:00,2013-09-13 08:14:00,599,Orleans St & Elm St,15,Sheffield Ave & Kingsbury St,15,57.9,13.8,partlycloudy

## Reference strings with quotes

If you would like to reference a literal string within `query`, you need to surround it with quotes, or else pandas will attempt to use it as a column name. Let's select all rides by a 'Female' with a trip duration greater than 2,000.

In [5]:
bikes.query('gender == "Female" and tripduration > 2000').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19,Lake Shore Dr & Monroe St,11,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15,Sheffield Ave & Kingsbury St,15,82.9,5.8,mostlycloudy
173,Female,2013-08-08 08:49:00,2013-08-08 09:31:00,2502,Sheffield Ave & Addison St,27,Dearborn St & Adams St,19,71.1,10.4,mostlycloudy

### Forgetting quotes

If you do not use quotes around your literal string, then pandas assumes that value is a column name. The following raises an error. It believes you are accessing a column name Female, which doesn't exist.

In [6]:
bikes.query('gender == "Female" and tripduration > 2000')

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19,Lake Shore Dr & Monroe St,11,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15,Sheffield Ave & Kingsbury St,15,82.9,5.8,mostlycloudy
173,Female,2013-08-08 08:49:00,2013-08-08 09:31:00,2502,Sheffield Ave & Addison St,27,Dearborn St & Adams St,19,71.1,10.4,mostlycloudy
258,Female,2013-08-17 22:10:00,2013-08-17 22:53:00,2566,Millennium Park,35,Theater on the Lake,15,69.1,5.8,clear
320,Female,2013-08-24 14:50:00,2013-08-24 15:40:00,2980,Sheridan Rd & Irving Park Rd,11,Halsted St & Willow St,19,84.9,5.8,partlycloudy
659,Female,2013-09-17 18:38:00,2013-09-17 19:13:00,2048,Franklin St & Jackson Blvd,27,Clinton St & Roosevelt Rd,15,66.0,9.2,cloudy
846,Female,2013-09-27 08:45:00,2013-09-27 09:19:00,2032,Damen Ave & Wellington Ave,15,Halsted St & Madison St,19,64.0,4.6,partlycloudy
1057,Female,2013-10-08 11:07:00,2013-10-08 11:45:00,2242,Clark St & North Ave,15,Franklin St & Jackson Blvd,27,70.0,5.8,clear
1954,Female,2013-12-28 11:37:00,2013-12-28 13:34:00,7050,LaSalle St & Washington St,15,Theater on the Lake,15,44.1,12.7,clear
2344,Female,2014-03-19 07:23:00,2014-03-19 08:00:00,2181,Seeley Ave & Roscoe St,11,Franklin St & Lake St,23,43.0,6.9,rain
2712,Female,2014-04-15 15:56:00,2014-04-16 14:09:00,79988,Clinton St & Washington Blvd,31,May St & Taylor St,15,35.1,6.9,cloudy
2915,Female,2014-04-25 13:01:00,2014-04-25 16:27:00,12351,May St & Taylor St,15,Halsted St & Polk St,19,66.0,12.7,partlycloudy
2962,Female,2014-04-28 21:26:00,2014-04-28 22:05:00,2361,Clarendon Ave & Leland Ave,15,Michigan Ave & Oak St,23,52.0,13.8,cloudy
3202,Female,2014-05-10 12:39:00,2014-05-10 13:21:00,2479,Kedzie Ave & Milwaukee Ave,19,Sheffield Ave & Webster Ave,19,72.0,17.3,partlycloudy
3587,Female,2014-05-25 07:26:00,2014-05-25 08:03:00,2234,Broadway & Berwyn Ave,15,Lake Shore Dr & Belmont Ave,19,63.0,3.5,partlycloudy
3775,Female,2014-05-31 16:18:00,2014-05-31 16:58:00,2378,Fairbanks Ct & Grand Ave,15,Lake Shore Dr & North Blvd,15,87.8,16.1,partlycloudy
3833,Female,2014-06-02 18:23:00,2014-06-02 18:57:00,2059,Halsted St & Dickens Ave,15,Cannon Dr & Fullerton Ave,15,81.0,12.7,partlycloudy
3941,Female,2014-06-05 18:42:00,2014-06-05 19:59:00,4629,Streeter Dr & Illinois St,39,Museum Campus,35,73.0,9.2,mostlycloudy

## Column to column comparisons

It is possible to compare each value in one column with each value in another column. Here, we filter for all the rides where there were more bikes at the start than at the end.

In [7]:
bikes.query('start_capacity > end_capacity').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31,Wells St & Walton St,19,69.1,6.9,partlycloudy
6,Male,2013-07-02 17:47:00,2013-07-02 17:56:00,565,Clark St & Randolph St,31,Ravenswood Ave & Irving Park Rd,19,66.0,15.0,cloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31,Wood St & Division St,15,71.1,0.0,cloudy

## Use 'in' for multiple equalities

You can check whether each value in a column is equal to one or more other values by using the word 'in' within your query. Use the syntax for creating a list within the query string to contain all the values you'd like to check. The following tests whether the weather event was snow or rain.

In [8]:
bikes.query('events in ["snow", "rain"]').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15,State St & Harrison St,19,82.9,5.8,rain
112,Male,2013-07-26 19:10:00,2013-07-26 19:33:00,1395,Larrabee St & Kingsbury St,27,Damen Ave & Pierce Ave,19,66.9,12.7,rain
124,Male,2013-07-30 18:53:00,2013-07-30 19:00:00,442,Canal St & Jackson Blvd,35,Racine Ave & Congress Pkwy,19,69.1,3.5,rain

There are multiple syntaxes for the above that all work the same, but I prefer using the above as it is most similar to the `isin` method used during boolean selection.

* `bikes.query('["snow", "rain"] in events')`
* `bikes.query('["snow", "rain"] == events')`
* `bikes.query('events == ["snow", "rain"]')`

### Use 'not in' to invert the condition

You can invert the result of an 'in' clause by placing the word 'not' before it. Here, we find all the rides that did not have the weather events cloudy, partly cloudy or mostly cloudy.

In [9]:
bikes.query('events not in ["cloudy", "partlycloudy", "mostlycloudy"]').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
25,Female,2013-07-11 08:17:00,2013-07-11 08:31:00,830,Wabash Ave & Roosevelt Rd,19,Daley Center Plaza,47,73.9,8.1,clear
26,Male,2013-07-12 01:07:00,2013-07-12 01:24:00,1043,State St & Harrison St,19,Racine Ave & 18th St,15,64.9,0.0,clear
33,Male,2013-07-12 17:22:00,2013-07-12 17:34:00,730,Clark St & Congress Pkwy,27,Racine Ave & Congress Pkwy,19,79.0,10.4,clear

## Arithmetic operations within `query`

It is possible to write arithmetic operations within `query` just as you would outside of it. For instance, if we wanted to find all the rides such that there were 20 or more bikes at the start station than at the end, we do the following.

In [10]:
bikes.query('start_capacity - end_capacity >= 20').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
54,Male,2013-07-16 15:13:00,2013-07-16 15:18:00,347,Daley Center Plaza,47,State St & Van Buren St,27,91.0,8.1,mostlycloudy
66,Male,2013-07-17 20:56:00,2013-07-17 21:14:00,1073,Millennium Park,35,Morgan St & 18th St,15,86.0,9.2,partlycloudy
116,Male,2013-07-27 09:54:00,2013-07-27 09:56:00,121,Daley Center Plaza,47,LaSalle St & Washington St,15,60.8,11.5,cloudy

### Filtering for right triangles

Let's read in the triangles dataset which contains the lengths of each side of a triangle as the columns `a`, `b`, and `c`.

In [11]:
triangles = pd.read_csv('input/triangles.csv')
triangles.head()

FileNotFoundError: [Errno 2] No such file or directory: 'input/triangles.csv'

We can use the `query` method to find all the right triangles, those that satisfy the Pythagorean Theorem. We write the condition using the arithmetic and comparison operators.

In [ ]:
triangles.query('a ** 2 + b ** 2 == c ** 2').head()

The syntax is quite a bit nicer than the boolean selection alternative.

In [ ]:
filt = triangles['a'] ** 2 + triangles['b'] ** 2 == triangles['c'] ** 2
triangles[filt].head()

## Reference variable names with the `@` symbol

By default, all words within the query string attempt to reference a column name. You can, however, reference a variable name by preceding it with the `@` symbol. Let's assign the variable name `min_length` to 5,000 and reference it in a query to find all the rides where trip duration was greater than it.

In [ ]:
min_length = 5000
bikes.query('tripduration > @min_length').head(3)

## Using the index with `query`

You can even use the word `index` to make comparisons against the index as if it were a normal column. In the bikes DataFrame, the index is just the integers beginning at 0. Here, we select only the `events` that were 'cloudy' for an index value greater than 4,000.

In [ ]:
bikes.query('index > 4000 and events == "cloudy" ').head(3)

### Referencing named index

If your DataFrame has an index that is named, which happens when a column is set as the index, then you can use that name within `query` just as if it were a regular column name. Here, we create a new DataFrame that has the `from_station_name` as the index.

In [ ]:
bikes_idx = bikes.set_index('from_station_name')
bikes_idx.head(3)

Notice the name 'from_station_name' directly above the index. This is the name for the index and what can be referenced when using `query`. Let's filter for trip ids greater than 200,000.

In [ ]:
bikes_idx.query('from_station_name == "Theater on the Lake"').head(3)

## Use backticks to reference column names with spaces

pandas allows DataFrames to have column names with spaces in them. In order to use a column name containing spaces within `query`, you'll need to surround it with backticks. If you don't use the backticks you'll get an error. Let's read in the San Francisco employee compensation dataset which contains multiple column names that have spaces.

In [ ]:
sf_emp = pd.read_csv('input/sf_employee_compensation.csv')
sf_emp.head(3)

Let's find all the employees that are in the organization group of 'Public Protection'.

In [ ]:
sf_emp.query('`organization group` == "Public Protection"').head(3)

### Selecting columns with `query`

Unfortunately the `query` method does not give us the ability to select a subset of the columns when filtering the data. You would have to do normal column selection after calling the method. Here, we use *just the brackets* to select three columns after finding all the rides where the weather was snow or rain.

In [ ]:
cols = ['starttime', 'temperature', 'events']
bikes.query('events in ["snow", "rain"]')[cols].head()

## Summary

The `query` method provides an alternative to boolean selection to filter the data based on the values. Here are the rules for the string you provide.

* The expression in the string must evaluate as True or False for every row
* Column names may be accessed directly with their name
* Often you will use one of the comparison operators to create a condition
* Use chained comparison operators to shorten syntax
* Use `and`, `or`, and `not` to create more complex conditions
* To use a literal string, surround it with quotes
* Use `in` to test multiple equalities. Provide the test values in a list
* All arithmetic operators work just as they do outside of the string
* Use the `@` character to reference a variable name
* Reference the index with the string 'index' or the index's name
* Use backticks to reference a column name with spaces in it

# Miscellaneous Subset Selection

In this chapter, a few more methods for subset selection are described. The methods used in this chapter do not add any additional functionality to pandas, but are covered for completeness.

I personally do not use the methods described in this chapter and suggest that you also avoid them. They are all valid syntax and some pandas users do actually use them, so you may find them valuable.

## Selecting a column with dot notation

In my opinion, the best way to select a single column from a DataFrame as a Series is by placing the name of the column within *just the brackets*. There's actually an alternative way to select a single column of data and that is with dot notation. Let's read in the the `sample_data2.csv` dataset.

In [ ]:
import pandas as pd
df = pd.read_csv('input/sample_data2.csv')
df

Place the name of the column directly after the dot as if it were an attribute.

In [ ]:
df.name

This produces an identical result as using *just the brackets*.

In [ ]:
df['name']

### Avoid dot notation - use just the brackets

Although this method for column selection requires less syntax and is used by many pandas users, it has many downsides. The following is a partial list of the functionality that is impossible using dot notation.

* Select column names with spaces
* Select column names that have the same name as methods
* Select columns with variables
* Select columns that begin with numbers
* Select columns that are non-strings

Examples of some of the above scenarios will now be covered. Using dot notation does not allow you to select columns with spaces. Selecting the column `average score` raises a syntax error.

The only way to select this column is with *just the brackets*.

In [ ]:
df['average score']

Dot notation is unable to select columns that are the same name as methods. For instance, `max` is a method that all DataFrames have. In this particular DataFrame, it also the name of the column. Attempting to select it via dot notation will access the method.

In [ ]:
df.max

Again, the only way to select this column is with *just the brackets*.

In [ ]:
df['max']

### Video with 10 reasons why using the brackets are superior

There are actually many more reasons to use the brackets over dot notation. If you are interested in hearing all of my reasons, [watch this video][1].

[1]: https://www.youtube.com/watch?v=LxZvl9Mc1cY

## Selecting rows with just the brackets using slice notation

So far, we have covered three ways to select subsets of data with *just the brackets*.  You can use a single string, a list of strings, or a boolean Series. Let's quickly review those ways right now using the bikes dataset.

In [ ]:
bikes = pd.read_csv('input/bikes.csv')

### A single string

In [ ]:
bikes['tripduration'].head(3)

### A list of strings

In [ ]:
cols = ['gender', 'tripduration']
bikes[cols].head(3)

### A boolean Series

The previous two examples selected columns. Boolean Series select rows.

In [ ]:
filt = bikes['tripduration'] > 5000
bikes[filt].head(3)

### Using a slice

It is possible to use slice notation within just the brackets. For example, the following selects the rows beginning at location 2 up to location 10 with a step size of 3. You can even use slice notation when the index is strings.

In [ ]:
bikes[2:10:3]

### I do not recommend using slicing with *just the brackets*

Although slicing with *just the brackets* seems simple, I do not recommend using it. This is because it is ambiguous and can make selections either by integer location or by label. I always prefer explicit, unambiguous methods. Both `loc` and `iloc` are unambiguous and explicit. Meaning that even without knowing anything about the DataFrame, you would be able to explain exactly how the selection will take place. If you do want to slice the rows, then use `loc` if you are using labels or `iloc` if you are using integer location, but do not use *just the brackets*.

## Selecting a single cell with `at` and `iat`

pandas provides two more rarely seen indexers, `at`, and `iat`. These indexers are analogous to `loc` and `iloc` respectively, but only select a single cell of a DataFrame. Since they only select a single cell, you must pass both a row and column selection as either a label (`loc`) or an integer location (`iloc`). Let's see an example of each.

In [ ]:
bikes.at[40, 'temperature']

In [ ]:
bikes.iat[-30, 5]

The current index labels for `bikes` is integers which is why the number 40 was used above. It is the label for a row, but also happens to be an integer.

### What's the purpose of these indexers?

All usages of `at` and `iat` may be replaced with `loc` and `iloc` and would produce the exact same results. The `at` and `iat` indexers are optimized to select a single cell of data and therefore provide slightly better performance than `loc` or `iloc`. Let's verify this below.

In [ ]:
bikes.loc[40, 'temperature']

In [ ]:
bikes.iloc[-30, 5]

### I never use these indexers

Personally, I never use these specialty indexers as the performance advantage for a single selection is minor. It would require a case where single element selections were happening in great numbers to see any significant improvement and doing so is rare in data analysis.

### Much bigger performance improvement using numpy directly

If you truly wanted a large performance improvement for single-cell selection, you would select directly from numpy arrays and not a pandas DataFrame. Below, the data is extracted into the underlying numpy array with the `values` attribute. We then time the performance of selecting with numpy and also with `iat` and `iloc` on a DataFrame. 

The timing is done using the magic command `%time`. This is a special command only available in a Jupyter Notebook (or IPython shell). The **Wall time** provides the total time it took to complete the operation. On my machine, `iat` shows a negligible improvement over `iloc`, but selecting with numpy is about 15x as fast. There is no comparison here, if you care about performance for selecting a single cell of data, use numpy.

In [ ]:
values = bikes.values

In [ ]:
%time values[-30, 5]

In [ ]:
%time bikes.iat[-30, 5]

In [ ]:
%time bikes.iloc[-30, 5]