# GroupBy

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_excel("input/vgsales.xlsx")
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2.0,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3.0,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4.0,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5.0,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
data.groupby('Genre')

In [6]:
data.groupby('Genre').size()

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
dtype: int64

In [7]:
data.groupby(['Year','Platform']).size()

Year    Platform
1980.0  2600         9
1981.0  2600        46
1982.0  2600        36
1983.0  2600        11
        NES          6
                    ..
2016.0  X360         8
        XOne        54
2017.0  PS4          1
        PSV          2
2020.0  DS           1
Length: 241, dtype: int64

In [9]:
data.groupby(['Year','Platform']).sum()

                   Rank  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Year   Platform
1980.0 2600       29826     10.59      0.67      0.00         0.12
1981.0 2600      190488     33.40      1.96      0.00         0.32
1982.0 2600      149186     26.92      1.65      0.00         0.31
1983.0 2600       49355      5.44      0.34      0.00         0.06
       NES         7404      2.32      0.46      8.10         0.08
...                 ...       ...       ...       ...          ...
2016.0 X360       93657      0.36      0.40      0.00         0.07
       XOne      584548      6.69      4.63      0.01         1.05
2017.0 PS4        14393      0.00      0.00      0.03         0.00
       PSV        32685      0.00      0.00      0.02         0.00
2020.0 DS          5959      0.27      0.00      0.00         0.02

                 Global_Sales
Year   Platform
1980.0 2600             11.38
1981.0 2600             35.77
1982.0 2600             28.86
1983.0 2600              5.83
       NES              10.96
...                       ...
2016.0 X360              0.83
       XOne             12.37
2017.0 PS4               0.03
       PSV               0.02
2020.0 DS                0.29

[241 rows x 6 columns]

In [19]:
keys = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
data.groupby(['Year','Platform'])[keys].sum()

                 NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Year   Platform
1980.0 2600         10.59      0.67      0.00         0.12         11.38
1981.0 2600         33.40      1.96      0.00         0.32         35.77
1982.0 2600         26.92      1.65      0.00         0.31         28.86
1983.0 2600          5.44      0.34      0.00         0.06          5.83
       NES           2.32      0.46      8.10         0.08         10.96
...                   ...       ...       ...          ...           ...
2016.0 X360          0.36      0.40      0.00         0.07          0.83
       XOne          6.69      4.63      0.01         1.05         12.37
2017.0 PS4           0.00      0.00      0.03         0.00          0.03
       PSV           0.00      0.00      0.02         0.00          0.02
2020.0 DS            0.27      0.00      0.00         0.02          0.29

[241 rows x 5 columns]

In [21]:
data.groupby(['Year','Platform']).sum().reset_index()

,Year,Platform,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1980.0,2600,29826,10.59,0.67,0.00,0.12,11.38
1,1981.0,2600,190488,33.40,1.96,0.00,0.32,35.77
2,1982.0,2600,149186,26.92,1.65,0.00,0.31,28.86
3,1983.0,2600,49355,5.44,0.34,0.00,0.06,5.83
4,1983.0,NES,7404,2.32,0.46,8.10,0.08,10.96
...,...,...,...,...,...,...,...,...
236,2016.0,X360,93657,0.36,0.40,0.00,0.07,0.83
237,2016.0,XOne,584548,6.69,4.63,0.01,1.05,12.37
238,2017.0,PS4,14393,0.00,0.00,0.03,0.00,0.03
239,2017.0,PSV,32685,0.00,0.00,0.02,0.00,0.02
240,2020.0,DS,5959,0.27,0.00,0.00,0.02,0.29

In [30]:
data.groupby('Platform').get_group('Wii')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
...,...,...,...,...,...,...,...,...,...,...,...
16517,16520,Teenage Mutant Ninja Turtles,Wii,2007.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01
16552,16555,Mahou Sensei Negima!? Neo-Pactio Fight!!,Wii,2007.0,Fighting,Marvelous Interactive,0.00,0.00,0.01,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Racing,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Racing,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01

In [29]:
# data.groupby('Platform').get_group('Wii') 
# 等同於
data[data['Platform'] == 'Wii']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
...,...,...,...,...,...,...,...,...,...,...,...
16517,16520,Teenage Mutant Ninja Turtles,Wii,2007.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01
16552,16555,Mahou Sensei Negima!? Neo-Pactio Fight!!,Wii,2007.0,Fighting,Marvelous Interactive,0.00,0.00,0.01,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Racing,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Racing,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01

In [33]:
# 預設會忽略Nan，可以加上 dropna=False 來強制不忽略
data.groupby('Year',dropna=False).size()

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
NaN        271
dtype: int64

In [121]:
# 取得 group 後每一群資料的 index
x = data.groupby('Year').groups
idx = x[2007.0]
data.iloc[idx]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
43,44,Halo 3,X360,2007.0,Shooter,Microsoft Game Studios,7.97,2.83,0.13,1.21,12.14
48,49,Super Mario Galaxy,Wii,2007.0,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
70,71,Call of Duty 4: Modern Warfare,X360,2007.0,Shooter,Activision,5.91,2.38,0.13,0.90,9.32
74,75,Mario Party DS,DS,2007.0,Misc,Nintendo,4.46,1.88,1.98,0.70,9.02
...,...,...,...,...,...,...,...,...,...,...,...
16552,16555,Mahou Sensei Negima!? Neo-Pactio Fight!!,Wii,2007.0,Fighting,Marvelous Interactive,0.00,0.00,0.01,0.00,0.01
16558,16561,Pro Evolution Soccer 2008,PC,2007.0,Sports,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01
16564,16567,Original Frisbee Disc Sports: Ultimate & Golf,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Racing,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.00,0.01

## Aggregation

In [38]:
data.groupby('Platform').sum()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,
2600,585665,229928.0,90.60,5.47,0.00,0.91,97.08
3DO,43118,5984.0,0.00,0.00,0.10,0.00,0.10
3DS,4662644,1006531.0,78.87,58.52,97.35,12.63,247.46
DC,456114,103997.0,5.43,1.69,8.56,0.27,15.97
DS,20845831,4283493.0,390.71,194.65,175.57,60.53,822.49
GB,332419,193608.0,114.32,47.82,85.12,8.20,255.45
GBA,7136749,1624604.0,187.54,75.25,47.33,7.73,318.50
GC,4817401,1085843.0,133.46,38.71,21.58,5.18,199.36
GEN,190019,53812.0,19.27,5.52,2.67,0.89,28.36
GG,13527,1992.0,0.00,0.00,0.04,0.00,0.04
N64,2083189,631536.0,139.02,41.06,34.22,4.38,218.88
NES,186831,194741.0,125.94,21.15,98.65,5.31,251.07
NG,127988,23934.0,0.00,0.00,1.44,0.00,1.44
PC,10980787,1894273.0,93.28,139.68,0.17,24.86,258.82
PCFX,14559,1996.0,0.00,0.00,0.03,0.00,0.03
PS,8322033,2375627.0,336.51,213.60,139.82,40.91,730.66
PS2,16159167,4263750.0,583.84,339.29,139.20,193.44,1255.64
PS3,9027970,2622109.0,392.26,343.71,79.99,141.93,957.84
PS4,2562189,677042.0,96.80,123.70,14.30,43.36,278.10
PSP,12615047,2404440.0,108.99,68.25,76.79,42.19,296.28
PSV,4732241,829782.0,16.20,16.33,20.96,8.45,61.93
SAT,1614771,345313.0,0.72,0.54,32.26,0.07,33.59
SCD,61031,11963.0,1.00,0.36,0.45,0.05,1.87
SNES,1516804,476529.0,61.23,19.04,116.55,3.22,200.05
TG16,24763,3990.0,0.00,0.00,0.16,0.00,0.16
WS,47273,12000.0,0.00,0.00,1.42,0.00,1.42
Wii,10243276,2591562.0,507.71,268.38,69.35,80.61,926.71
WiiU,1109142,287944.0,38.32,24.23,12.79,6.45,81.86
X360,8466048,2482205.0,601.05,280.58,12.43,85.54,979.96
XB,7219276,1608920.0,186.69,60.95,1.38,8.72,258.26
XOne,1575574,429150.0,83.19,45.65,0.34,11.92,141.06

In [39]:
data.groupby('Platform').aggregate(np.sum)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,
2600,585665,229928.0,90.60,5.47,0.00,0.91,97.08
3DO,43118,5984.0,0.00,0.00,0.10,0.00,0.10
3DS,4662644,1006531.0,78.87,58.52,97.35,12.63,247.46
DC,456114,103997.0,5.43,1.69,8.56,0.27,15.97
DS,20845831,4283493.0,390.71,194.65,175.57,60.53,822.49
GB,332419,193608.0,114.32,47.82,85.12,8.20,255.45
GBA,7136749,1624604.0,187.54,75.25,47.33,7.73,318.50
GC,4817401,1085843.0,133.46,38.71,21.58,5.18,199.36
GEN,190019,53812.0,19.27,5.52,2.67,0.89,28.36
GG,13527,1992.0,0.00,0.00,0.04,0.00,0.04
N64,2083189,631536.0,139.02,41.06,34.22,4.38,218.88
NES,186831,194741.0,125.94,21.15,98.65,5.31,251.07
NG,127988,23934.0,0.00,0.00,1.44,0.00,1.44
PC,10980787,1894273.0,93.28,139.68,0.17,24.86,258.82
PCFX,14559,1996.0,0.00,0.00,0.03,0.00,0.03
PS,8322033,2375627.0,336.51,213.60,139.82,40.91,730.66
PS2,16159167,4263750.0,583.84,339.29,139.20,193.44,1255.64
PS3,9027970,2622109.0,392.26,343.71,79.99,141.93,957.84
PS4,2562189,677042.0,96.80,123.70,14.30,43.36,278.10
PSP,12615047,2404440.0,108.99,68.25,76.79,42.19,296.28
PSV,4732241,829782.0,16.20,16.33,20.96,8.45,61.93
SAT,1614771,345313.0,0.72,0.54,32.26,0.07,33.59
SCD,61031,11963.0,1.00,0.36,0.45,0.05,1.87
SNES,1516804,476529.0,61.23,19.04,116.55,3.22,200.05
TG16,24763,3990.0,0.00,0.00,0.16,0.00,0.16
WS,47273,12000.0,0.00,0.00,1.42,0.00,1.42
Wii,10243276,2591562.0,507.71,268.38,69.35,80.61,926.71
WiiU,1109142,287944.0,38.32,24.23,12.79,6.45,81.86
X360,8466048,2482205.0,601.05,280.58,12.43,85.54,979.96
XB,7219276,1608920.0,186.69,60.95,1.38,8.72,258.26
XOne,1575574,429150.0,83.19,45.65,0.34,11.92,141.06

<p>Aggregating functions are the ones that reduce the dimension of the returned objects.
Some common aggregating functions are tabulated below:</p>
<table class="colwidths-given table">
<colgroup>
<col style="width: 20%">
<col style="width: 80%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Function</p></th>
<th class="head"><p>Description</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">mean()</span></code></p></td>
<td><p>Compute mean of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">sum()</span></code></p></td>
<td><p>Compute sum of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">size()</span></code></p></td>
<td><p>Compute group sizes</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">count()</span></code></p></td>
<td><p>Compute count of group</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">std()</span></code></p></td>
<td><p>Standard deviation of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">var()</span></code></p></td>
<td><p>Compute variance of groups</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">sem()</span></code></p></td>
<td><p>Standard error of the mean of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">describe()</span></code></p></td>
<td><p>Generates descriptive statistics</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">first()</span></code></p></td>
<td><p>Compute first of group values</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">last()</span></code></p></td>
<td><p>Compute last of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">nth()</span></code></p></td>
<td><p>Take nth value, or a subset if n is a list</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">min()</span></code></p></td>
<td><p>Compute min of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">max()</span></code></p></td>
<td><p>Compute max of group values</p></td>
</tr>
</tbody>
</table>

In [123]:
data.groupby('Platform')[['NA_Sales','Global_Sales']]. \
aggregate([np.sum,np.max,np.min])

         NA_Sales              Global_Sales
              sum   amax  amin          sum   amax  amin
Platform
2600        90.60   7.28  0.07        97.08   7.81  0.07
3DO          0.00   0.00  0.00         0.10   0.06  0.02
3DS         78.87   5.17  0.00       247.46  14.35  0.01
DC           5.43   1.26  0.00        15.97   2.42  0.02
DS         390.71  11.38  0.00       822.49  30.01  0.01
GB         114.32  23.20  0.00       255.45  31.37  0.06
GBA        187.54   6.06  0.00       318.50  15.85  0.01
GC         133.46   4.41  0.00       199.36   7.07  0.01
GEN         19.27   4.47  0.00        28.36   6.03  0.03
GG           0.00   0.00  0.00         0.04   0.04  0.04
N64        139.02   6.91  0.00       218.88  11.89  0.01
NES        125.94  29.08  0.00       251.07  40.24  0.06
NG           0.00   0.00  0.00         1.44   0.25  0.02
PC          93.28   4.03  0.00       258.82   8.11  0.01
PCFX         0.00   0.00  0.00         0.03   0.03  0.03
PS         336.51   4.02  0.00       730.66  10.95  0.01
PS2        583.84   9.43  0.00      1255.64  20.81  0.01
PS3        392.26   7.01  0.00       957.84  21.40  0.01
PS4         96.80   5.77  0.00       278.10  14.24  0.01
PSP        108.99   2.90  0.00       296.28   7.72  0.01
PSV         16.20   0.80  0.00        61.93   2.25  0.01
SAT          0.72   0.34  0.00        33.59   1.93  0.02
SCD          1.00   1.00  0.00         1.87   1.50  0.05
SNES        61.23  12.78  0.00       200.05  20.61  0.01
TG16         0.00   0.00  0.00         0.16   0.14  0.02
WS           0.00   0.00  0.00         1.42   0.51  0.03
Wii        507.71  41.49  0.00       926.71  82.74  0.01
WiiU        38.32   3.13  0.00        81.86   6.96  0.01
X360       601.05  14.97  0.00       979.96  21.82  0.01
XB         186.69   6.82  0.00       258.26   8.49  0.01
XOne        83.19   4.52  0.00       141.06   7.30  0.01

In [44]:
data.groupby('Platform')[['NA_Sales','Global_Sales']].aggregate(
    [lambda x: x.max() - x.min(),
    lambda x: x.median() - x.mean()]
)

           NA_Sales            Global_Sales
         <lambda_0> <lambda_1>   <lambda_0> <lambda_1>
Platform
2600           7.21  -0.251203         7.74  -0.269925
3DO            0.00   0.000000         0.04  -0.013333
3DS            5.17  -0.144951        14.34  -0.366169
DC             1.26  -0.104423         2.40  -0.172115
DS            11.38  -0.120633        30.00  -0.270254
GB            23.20  -1.166531        31.31  -1.441633
GBA            6.06  -0.128151        15.84  -0.222470
GC             4.41  -0.130036         7.06  -0.208561
GEN            4.47  -0.713704         6.00  -0.900370
GG             0.00   0.000000         0.00   0.000000
N64            6.91  -0.255799        11.88  -0.416144
NES           29.08  -0.880102        40.18  -1.186939
NG             0.00   0.000000         0.23  -0.020000
PC             4.03  -0.097167         8.10  -0.229604
PCFX           0.00   0.000000         0.00   0.000000
PS             4.02  -0.201363        10.94  -0.350920
PS2            9.43  -0.180171        20.80  -0.351046
PS3            7.01  -0.175154        21.39  -0.440722
PS4            5.77  -0.218095        14.23  -0.607679
PSP            2.90  -0.089852         7.71  -0.154254
PSV            0.80  -0.039225         2.24  -0.089952
SAT            0.34  -0.004162         1.91  -0.074162
SCD            1.00  -0.166667         1.45  -0.246667
SNES          12.78  -0.256192        20.60  -0.517029
TG16           0.00   0.000000         0.12   0.000000
WS             0.00   0.000000         0.48  -0.021667
Wii           41.49  -0.243177        82.73  -0.499404
WiiU           3.13  -0.147972         6.95  -0.342448
X360          14.97  -0.305138        21.81  -0.494672
XB             6.82  -0.116566         8.48  -0.173422
XOne           4.52  -0.240563         7.29  -0.422254

In [124]:
def A1(x):
    return np.max(x) - np.min(x)
def B2(x):
    return np.median(x) - np.mean(x)
data.groupby('Platform')[['NA_Sales','Global_Sales']].aggregate(
    [A1,B2]
)

         NA_Sales           Global_Sales
               A1        B2           A1        B2
Platform
2600         7.21 -0.251203         7.74 -0.269925
3DO          0.00  0.000000         0.04 -0.013333
3DS          5.17 -0.144951        14.34 -0.366169
DC           1.26 -0.104423         2.40 -0.172115
DS          11.38 -0.120633        30.00 -0.270254
GB          23.20 -1.166531        31.31 -1.441633
GBA          6.06 -0.128151        15.84 -0.222470
GC           4.41 -0.130036         7.06 -0.208561
GEN          4.47 -0.713704         6.00 -0.900370
GG           0.00  0.000000         0.00  0.000000
N64          6.91 -0.255799        11.88 -0.416144
NES         29.08 -0.880102        40.18 -1.186939
NG           0.00  0.000000         0.23 -0.020000
PC           4.03 -0.097167         8.10 -0.229604
PCFX         0.00  0.000000         0.00  0.000000
PS           4.02 -0.201363        10.94 -0.350920
PS2          9.43 -0.180171        20.80 -0.351046
PS3          7.01 -0.175154        21.39 -0.440722
PS4          5.77 -0.218095        14.23 -0.607679
PSP          2.90 -0.089852         7.71 -0.154254
PSV          0.80 -0.039225         2.24 -0.089952
SAT          0.34 -0.004162         1.91 -0.074162
SCD          1.00 -0.166667         1.45 -0.246667
SNES        12.78 -0.256192        20.60 -0.517029
TG16         0.00  0.000000         0.12  0.000000
WS           0.00  0.000000         0.48 -0.021667
Wii         41.49 -0.243177        82.73 -0.499404
WiiU         3.13 -0.147972         6.95 -0.342448
X360        14.97 -0.305138        21.81 -0.494672
XB           6.82 -0.116566         8.48 -0.173422
XOne         4.52 -0.240563         7.29 -0.422254

## Transform

In [62]:
data.groupby('Platform')['Global_Sales'].transform(sum)

0         926.71
1         251.07
2         926.71
3         926.71
4         255.45
          ...
16593     318.50
16594     199.36
16595    1255.64
16596     822.49
16597     318.50
Name: Global_Sales, Length: 16598, dtype: float64

In [125]:
data.groupby('Platform')['Global_Sales'].aggregate(np.sum)

Platform
2600      97.08
3DO        0.10
3DS      247.46
DC        15.97
DS       822.49
GB       255.45
GBA      318.50
GC       199.36
GEN       28.36
GG         0.04
N64      218.88
NES      251.07
NG         1.44
PC       258.82
PCFX       0.03
PS       730.66
PS2     1255.64
PS3      957.84
PS4      278.10
PSP      296.28
PSV       61.93
SAT       33.59
SCD        1.87
SNES     200.05
TG16       0.16
WS         1.42
Wii      926.71
WiiU      81.86
X360     979.96
XB       258.26
XOne     141.06
Name: Global_Sales, dtype: float64

## apply

In [84]:
data2 = data.copy()
global_sum = data2.groupby('Platform')['Global_Sales'].transform(np.sum)
data2['銷售佔比'] = data2['Global_Sales'] / global_sum
data2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,銷售佔比
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.089284
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.160274
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.038653
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.035610
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.122803
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.000031
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.000050
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.000008
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.000012
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.000031

In [90]:
#使用apply來達成等同上面的功能
def rate(x):
    x['銷售佔比'] = x['Global_Sales'] / x['Global_Sales'].sum()
    return x
data2 = data.copy()
data2.groupby('Platform').apply(rate)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,銷售佔比
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.089284
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.160274
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.038653
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.035610
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.122803
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.000031
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.000050
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.000008
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.000012
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.000031

## filter

In [110]:
# 列出該平台總銷售額大於 1000 百萬的遊戲
index = data.groupby('Platform')['Global_Sales'].transform(sum) > 1000
data[index]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16559,16562,Sugar + Spice! Anoko no Suteki na Nanimokamo,PS2,2008.0,Adventure,Alchemist,0.00,0.00,0.01,0.00,0.01
16561,16564,Kanokon: Esuii,PS2,2008.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
16572,16575,Scarlett: Nichijou no Kyoukaisen,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [140]:
# 列出所有PS平台的遊戲
def AAA(x):
    slist = ['PS','PS2','PS3']
    return any(x.iloc[0]['Platform'] in s for s in slist)
data.groupby('Platform').filter(AAA)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
...,...,...,...,...,...,...,...,...,...,...,...
16559,16562,Sugar + Spice! Anoko no Suteki na Nanimokamo,PS2,2008.0,Adventure,Alchemist,0.00,0.00,0.01,0.00,0.01
16561,16564,Kanokon: Esuii,PS2,2008.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
16572,16575,Scarlett: Nichijou no Kyoukaisen,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01